.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.LoginContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: none;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.LoginBox h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.CloseButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #333;
}

.FormGroup {
    margin-bottom: 15px;
    width: 260px;
}

.FormGroup label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.FormGroup input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.LoginButton {
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    background-color: #007bff;
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.LoginButton:hover {
    background-color: #2b9cff;
}

.CreateUserButton {
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.CreateUserButton:hover {
    background-color: #2b9cff;
}