.MainPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}

.MainContent {
    flex: 1; /* Allow the main content section to expand and fill available space */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-image: url('./WorldMap.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}
