.CorrectAnswerBox {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    border: 1px solid rgb(179, 179, 179);
    background-color: white;
    width: 500px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.CorrectAnswerToCurrentQuestion {
    padding-bottom: 15px;
}

.NextQuestionButton {
    background-color: white;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: transform 0.5s, background-colour 0.5s;
}

.NextQuestionButton:hover {
    transform: scale(1.05);
    background-color: rgb(103, 234, 103);
}
