.Banner {
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: space-around;
    font-family:'Courier New', Courier, monospace;
    align-items: center;
    border-bottom: 1px solid rgb(179, 179, 179);
}

.Title {
    font-size: 2rem;
}

.LeftContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.RightContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.BannerButton {
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: white;
    font-family:'Courier New', Courier, monospace;
    font-size: 1rem;
    transition: transform 0.2s background-color 0.2s;
}

.BannerButton:hover {
    transform: scale(1.05);
    background-color: #f4f4f4;
}

.UserStatusContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.Username {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

.GreenDot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    margin-right: 4px;
}